.quoteback{
    background-color: rgba(2, 70, 77, 0.349);
}
.buttomColor{
    background-color: rgba(2, 70, 77, 0.349);
    border-color: rgba(2, 70, 77, 0.349) ;
}
.navColor{
    background-color: rgba(2, 70, 77, 0.349);
}
.container{
    margin-top: 50px;
}